/* default font  */
html{
    font-family: 'Roboto', sans-serif;
}
/* background */
body{
    background-color: antiquewhite;
}


/* header navigation  */
nav ul {
    display: flex;
    align-items: center;
    min-height: 15vh;
    flex-wrap: wrap;
}
nav ul > *{
    flex: 1 1 20%;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
}
/* main container */
/* hero section */
.hero{
    min-height: 70vh;
    background-image: url("../img/age_of_wonders_hero.jpg");
    background-size: cover;
    background-position: top;
}

 /* style for small screens */
@media only screen and (max-width: 720px) {
  
    nav ul {
        flex-direction: column;
        
    }
    nav ul > *{
        font-size: 2.2rem;
    }
    .icon{
        display: none;
    }
    
    #logo{
        
    }
    #rules{
        order: 2;
    }
    #history{
        order: 3;
    }
    #about{
        order: 1;
    }
  }

